button {
  padding: 12px;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 4px rgb(93, 93, 93);
}

.primary {
  background-color: rgb(91, 142, 244);
}

.primary:hover {
  background-color: rgb(56, 112, 225);
}

.secondary {
  background-color: rgb(244, 231, 91);
}

.secondary:hover {
  background-color: rgb(226, 212, 53);
}
